# general
node_modules
dist
.eslintcache
*.local
ignore.txt

# local env files
.env.local
.env.*.local

# firebase
/.firebase
.firebaserc
/firebasePublic
/.github
firebase-debug.log

# other
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*