node_modules
/dist

# yarn
# /.yarn
/.yarn/cache
/.yarn/patches
/.yarn/plugins
/.yarn/releases
/.yarn/sdks
/.yarn/versions
.pnp.*

#firebase
/.firebase
.firebaserc
/firebasePublic
/.github
firebase-debug.log

ignore.txt