# general
node_modules
/dist
.eslintcache
ignore.txt

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# firebase
/.firebase
.firebaserc
/firebasePublic
/.github
firebase-debug.log