.acronym-title {
	user-select: none;
	margin-top: 8px;
}

.acronym-input {
	position: relative;
	display: inline-block;
	width: 250px;
}

.acronym-button {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.acronym-text-div {
	position: relative;
	display: inline-block;
	text-transform: capitalize;
	margin: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.acronym-copy-button {
	position: relative;
	display: inline-block;
	margin-left: 5px;
}

.generated-text-div {
	margin-top: 12px;
}

@media screen and (max-width: 400px) {
	.acronym-button {
		margin: 16px auto;
		display: block;
	}
}
