<div>
	<h1>Acronym Generator</h1>
	<input
		class="acronym-input form-control"
		v-model="acronymInput"
		@keyup.enter="acronymButtonPressed"
		placeholder="Type a word here"
	/>
	<button
		class="acronym-button btn btn-secondary"
		@click="acronymButtonPressed"
	>
		Generate
	</button>
	<div class="generated-acronym">
		<div id="acronymTextDiv" class="acronym-text-div"></div>
		<button
			v-show="acronymText.length > 0"
			class="acronym-copy-button btn btn-secondary"
			@click="copyAcronym"
		>
			Copy
		</button>
	</div>
</div>
