<div>
	<d-navbar></d-navbar>
	<h1>Acronym Generator</h1>
	<b-form-input
		class="acronym-input"
		v-model="acronymInput"
		@keyup.enter="acronymButtonPressed"
		placeholder="Type a word here"
	>
	</b-form-input>
	<b-button class="acronym-button" @click="acronymButtonPressed"
		>Generate</b-button
	>
	<div class="generated-acronym">
		<div id="acronymTextDiv" class="acronym-text-div"></div>
		<b-button
			v-show="acronymText.length > 0"
			class="acronym-copy-button"
			@click="copyAcronym"
			>Copy</b-button
		>
	</div>
</div>
