.discord-title {
	user-select: none;
	margin-top: 8px;
}

.discord-input {
	position: relative;
	display: inline-block;
	width: 250px;
}

.discord-button {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.discord-text-div {
	position: relative;
	display: inline-block;
	margin: 24px;
	margin-top: 16px;
	margin-bottom: 8px;
}

.discord-copy-button {
	position: relative;
	display: inline-block;
	margin-left: 5px;
}
