<div>
	<h1>Discord Max Message Generator</h1>
	<input
		class="discord-input form-control"
		v-model="discordInput"
		@keyup.enter="discordButtonPressed"
		placeholder="Type a word here"
	/>
	<button
		class="discord-button btn btn-secondary"
		@click="discordButtonPressed"
	>
		Generate
	</button>
	<div class="generated-discord">
		<div id="discordTextDiv" class="discord-text-div"></div>
		<button
			v-show="discordText.length > 0"
			class="discord-copy-button btn btn-secondary"
			@click="copydiscord"
		>
			Copy
		</button>
	</div>
</div>
