<div class="home">
	<d-navbar></d-navbar>

	<b-card bg-variant="secondary" class="card">
		<b-card-title> Bio </b-card-title>
		<b-card-text class="card-text">
			I'm Daniel James Turcich I currently work as a Software Engineer at Bank
			of America. I graduated with a Bachelors of Science in Computer Science
			from Montclair State University in May 2018.
		</b-card-text>
	</b-card>

	<b-card class="card">
		<b-card-title> Skills </b-card-title>
		<b-card-text class="card-text">
			<b-card-body>
				<b-card-title title-tag="h5" class="card-title-1">
					Technical
				</b-card-title>
				<b>Advanced - </b> TypeScript, Vue.js, Electron, C#, HTML, Git,
				JavaScript <br />

				<b>Medium - </b> Angular, Java, CSS, Bootstrap, Angular Material,
				Python, Android, SQL Server<br />

				<b>Beginner - </b> XML, LUA, MySQL, Database Design
			</b-card-body>
			<b-card-body>
				<b-card-title title-tag="h5" class="card-title-1">
					Creative
				</b-card-title>
				Music Production, Song Writing, Basic Video Editing, Basic Photo Editing
			</b-card-body>
		</b-card-text>
	</b-card>
</div>
