<div>
	<d-navbar></d-navbar>
	<h1>Password Generator</h1>

	<div class="password-generator-options">
		<b-form-input
			class="password-length-input"
			v-model="passwordLength"
			@keyup.enter="acronymButtonPressed"
			placeholder="Password Length"
			type="number"
		>
		</b-form-input>

		<div>
			<b-form-checkbox v-model="excludeLowercase"
				>Exclude Lowercase Letters</b-form-checkbox
			>
			<b-form-checkbox v-model="excludeUppercase"
				>Exclude Uppercase Letters</b-form-checkbox
			>
			<b-form-checkbox v-model="excludeNumbers"
				>Exclude Numbers</b-form-checkbox
			>
			<b-form-checkbox v-model="excludeSymbols"
				>Exclude Symbols</b-form-checkbox
			>
		</div>
		<b-button class="password-generate-button" @click="generatePassword"
			>Generate</b-button
		>
	</div>

	<div class="generated-password">
		<div id="passwordTextDiv" class="password-text-div"></div>
		<b-button
			v-show="password.length > 0"
			class="password-copy-button"
			@click="copyPassword"
			>Copy</b-button
		>
	</div>
</div>
