<div>
	<d-navbar></d-navbar>
	<h1>Password Generator</h1>

	<div class="password-generator-options">
		<div>
			<label for="range-1">Password Length: {{ passwordLength }}</label>
			<br />
			<b-form-input
				class="password-length-range"
				id="range-1"
				v-model="passwordLength"
				type="range"
				min="1"
				max="128"
			></b-form-input>
		</div>

		<div>
			<b-form-checkbox v-model="excludeLowercase"
				>Exclude Lowercase Letters</b-form-checkbox
			>
			<b-form-checkbox v-model="excludeUppercase"
				>Exclude Uppercase Letters</b-form-checkbox
			>
			<b-form-checkbox v-model="excludeNumbers"
				>Exclude Numbers</b-form-checkbox
			>
			<b-form-checkbox v-model="excludeSymbols"
				>Exclude Symbols</b-form-checkbox
			>
		</div>
		<b-button class="password-generate-button" @click="generatePassword"
			>Generate</b-button
		>
	</div>

	<div class="generated-password">
		<div id="passwordTextDiv" class="password-text-div"></div>
		<b-button
			v-show="password.length > 0"
			class="password-copy-button"
			@click="copyPassword"
			>Copy</b-button
		>
	</div>
</div>
