.password-title {
	user-select: none;
}

.password-length-range {
	position: relative;
	display: inline-block;
	width: 300px;
}

.password-generator-options {
	margin-bottom: 16px;
}

.password-generator-checkboxes {
	display: inline-block;
	text-align: left;
}

.password-text-div {
	position: relative;
	display: inline-block;
	margin: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.password-copy-button {
	position: relative;
	display: inline-block;
	margin-left: 5px;
}
