<div>
	<h1 class="password-title">Password Generator</h1>

	<div class="password-generator-options">
		<div>
			<label for="range-1">Password Length: {{ passwordLength }}</label>
			<br />
			<input
				class="password-length-range form-range"
				id="range-1"
				v-model="passwordLength"
				type="range"
				min="1"
				max="128"
			/>
		</div>

		<div class="password-generator-checkboxes">
			<div class="form-check">
				<input
					v-model="excludeLowercase"
					class="form-check-input"
					type="checkbox"
					id="lowercase"
				/>
				<label class="form-check-label" for="lowercase">
					Exclude Lowercase Letters
				</label>
			</div>

			<div class="form-check">
				<input
					v-model="excludeUppercase"
					class="form-check-input"
					type="checkbox"
					id="uppercase"
				/>
				<label class="form-check-label" for="uppercase">
					Exclude Uppercase Letters
				</label>
			</div>

			<div class="form-check">
				<input
					v-model="excludeNumbers"
					class="form-check-input"
					type="checkbox"
					id="numbers"
				/>
				<label class="form-check-label" for="numbers">
					Exclude Numbers
				</label>
			</div>

			<div class="form-check">
				<input
					v-model="excludeSymbols"
					class="form-check-input"
					type="checkbox"
					id="symbols"
				/>
				<label class="form-check-label" for="symbols">
					Exclude Symbols
				</label>
			</div>
		</div>
		<br />
		<button
			class="password-generate-button btn btn-secondary"
			@click="generatePassword"
		>
			Generate
		</button>
	</div>

	<div class="generated-password">
		<div id="passwordTextDiv" class="password-text-div"></div>
		<button
			v-show="password.length > 0"
			class="password-copy-button btn btn-secondary"
			@click="copyPassword"
		>
			Copy
		</button>
	</div>
</div>
